<div class="inner cover">
  <h1 class="cover-heading">One More Cup...</h1>
    <p class="lead">
      words and words and words.... everything you need is... words
    </p>
    <%= render 'shared/landing_buttons' %>
</div>



